@font-face {
  font-family: "blocks";
  src: url("./policy/baby\ blocks.ttf");
}
@font-face {
  font-family: "alagard";
  src: url("./policy/alagard.ttf");
}
@font-face {
  font-family: "advanced";
  src: url("./policy/advanced_pixel_lcd-7.ttf");
}
